<div class="settings-container">
  <h2 class="settings-header">Настройки</h2>

  <!-- Группа элементов -->
  <div class="settings-group">

    <!-- 1. Переключатель темы (Стильный вид) -->
    <div class="setting-row">
      <span class="setting-label">Темная тема</span>
      <label class="theme-switch-icon">
        <input
          type="checkbox"
          [checked]="isDarkTheme()"
          (change)="toggleTheme()"/>
        <span class="slider">
              <span class="icon sun">☀️</span>
              <span class="icon moon">🌙</span>
            </span>
      </label>
    </div>

    <!-- 2. Кнопка с иконкой для диалога -->
    <div class="setting-row">
      <span class="setting-label">Управление подписками</span>
      <button mat-fab class="following-button" aria-label="Open following dialog" (click)="openFollowingDialog()">
        <mat-icon>group</mat-icon>
      </button>
    </div>

    <div class="setting-row">
      <span class="setting-label">Скрывать избранные</span>
      <mat-checkbox class="checkbox"></mat-checkbox>
    </div>
  </div>
</div>
