@if (isUserDataLoaded) {

  <div class="user-profile">

    <h1>Profile</h1>
    <div style="text-align: right">
      <button mat-flat-button color="primary" routerLink="/profile/add">Add Post</button>
      <button mat-flat-button color="primary" (click)="openEditDialog()">Edit Info</button>
    </div>


    <div style="padding-top: 2rem" class="row">
      <div class="col">
        <!-- где сейчас src: user.avatarUrl -->
        <img [src]="previewUrl || userProfileImage || 'assets/placeholder.jpg'"
        width="160" height="160" class="profile-image"/>

        <input type="file"
               style="display: none"
               accept="image/png, image/jpeg"
               #fileInput
               (change)="onFileSelected($event)">

        <button mat-button (click)="fileInput.click()">Pick File</button>
        @if (selectedFile) {
          <button mat-button  (click)="onUpload()">Upload</button>
        }

      </div>
      <div class="col" style="text-align: left">

        <h2>{{user.username}}</h2>

        <h3 style="font-style: italic">{{user.firstname}} {{user.lastname}}</h3>
        <p>{{user.bio}}</p>
      </div>

      <mat-divider style="margin: 2rem 0"></mat-divider>

      <router-outlet></router-outlet>
    </div>

  </div>
}
