<div class="container feed-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      @if (isPostsLoaded) {
        @for (post of posts; track post.id; let i = $index) {
          <mat-card class="post-card mb-4">
            <div *ngIf="(i + 1) % 2 === 0" #anchor style="height: 30px; background: #ffcccc;">Anchor {{i}}</div>
            <div class="d-flex align-items-center mb-2 post-header">
              <img *ngIf="post?.username"
                   [src]="getUserImage(post!.username!)"
                   alt="avatar" class="avatar me-2">
              <span class="username" [routerLink]="['/profile/', post!.username]">{{ post!.username }}</span>

            </div>
            <span class="title">{{post.title}}</span>
            <img mat-card-image
                 *ngIf="post.image"
                 [src]="post.image"
                 class="feed-image"
                 alt="post image"/>
            <div class="modal-info-block">
              <section class="actions">
                <div class="actions-horizontal">
                  <button mat-icon-button (click)="likePost(post!.id!, i)">
                    <mat-icon [ngClass]="{ liked: post!.isLiked }">favorite</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>chat_bubble_outline</mat-icon>
                  </button>
                </div>
                <button mat-icon-button>
                  <mat-icon>bookmark_border</mat-icon>
                </button>
              </section>
              <section class="likes" *ngIf="post.usersLiked && post.usersLiked!.length > 0">
                   <span class="likes-avatars">
                      <ng-container *ngFor="let username of post.usersLiked!.slice(0, 3); let idx = index">
                         <img
                           [src]="getUserImage(username)"
                           [style.z-index]="10 - idx"
                           [style.margin-left.px]="idx > 0 ? -12 : 0"
                           alt="avatar"
                           class="ig-modal-avatar like-avatar"/>
                      </ng-container>
                   </span>
                <span class="likes-label">Нравится <b>
                         <a [routerLink]="['/profile', post.usersLiked![0]]"
                            class="like-username">{{ post.usersLiked![0] }}</a>
                             </b>
                    <ng-container *ngIf="post.usersLiked!.length > 1">и ещё
                      <b>
                         <a class="like-username" (click)="openLikesDialog(i)"> {{ post.usersLiked!.length - 1 }} </a>
                      </b>
                   </ng-container>
                          </span>

              </section>


            </div>
            <div class="comments-scrollable-block mt-2">
              @if (post?.comments?.length) {
                <div>
                  <ng-container *ngIf="post!.showAllComments; else lastComments">
                    @for (comment of post!.comments; track comment.id) {
                      <p class="comment mb-1">
                        <a [routerLink]="['/profile', comment.username]" class="profile-link">
                          <img *ngIf="comment.username"
                               [src]="getUserImage(comment.username!)"
                               alt="avatar" class="ig-modal-avatar">
                          <span class="fw-bold">{{ comment.username }}</span>: {{ comment.message }}
                        </a>
                      </p>
                    }
                  </ng-container>
                  <ng-container *ngIf="post!.comments!.length > MAX_VISIBLE_COMMENTS">
                    <button mat-button
                            (click)="toggleShowAllComments(i!)"
                            class="show-comments-btn">
                      @if (!post!.showAllComments) {
                        Показать все комментарии ({{ post!.comments!.length }})
                      } @else {
                        Скрыть комментарии
                      }
                    </button>
                  </ng-container>
                  <ng-template #lastComments>
                    @for (comment of post!.comments!.slice(-MAX_VISIBLE_COMMENTS); track comment.id) {
                      <p class="comment mb-1">
                        <a [routerLink]="['/profile', comment.username]" class="profile-link">
                          <img *ngIf="comment.username"
                               [src]="getUserImage(comment.username!)"
                               alt="avatar" class="ig-modal-avatar">
                          <span class="fw-bold">{{ comment.username }}</span>:  {{ comment.message }}
                        </a>
                      </p>
                    }
                  </ng-template>
                </div>
              }
            </div>

            <form class="add-comment-form d-flex align-items-center"
                  (submit)="postComment($event, commentInput.value, post.id!, i)">
              <input #commentInput
                     matInput
                     class="form-control flex-grow-1"
                     placeholder="Комментарий..." required>
              <button mat-icon-button type="submit" class="send-btn ms-2" aria-label="Отправить комментарий">
                <mat-icon>send</mat-icon>
              </button>
            </form>

          </mat-card>
        }

      }
      <div style="text-align:center; margin: 18px 0;">
        <button class="btn"
                color="primary"
                (click)="loadNextPage()"
                *ngIf="!noMorePosts"
                [disabled]="isLoading">
          Загрузить ещё
        </button>
        <div *ngIf="noMorePosts" style="margin-top:8px; color:#888;">
          Больше постов нет
        </div>

    </div>
  </div>
</div>
</div>
