<div class="settings-container">
  <h2 class="settings-header">Настройки</h2>


  <div class="settings-group">


    <div class="setting-row">
      <span class="setting-label">Темная тема</span>
      <label class="theme-switch-icon">
        <input
          type="checkbox"
          [checked]="isDarkTheme()"
          (change)="toggleTheme()"/>
        <span class="slider">
              <span class="icon sun">☀️</span>
              <span class="icon moon">🌙</span>
            </span>
      </label>
    </div>

    <div class="setting-row">
      <span class="setting-label">Управление подписками</span>
      <button mat-fab class="following-button" aria-label="Open following dialog" (click)="openFriendsWindow()">
        <mat-icon>group</mat-icon>
      </button>
    </div>

    <div class="setting-row">
      <span class="setting-label">Скрывать избранные</span>
      <mat-checkbox class="checkbox"></mat-checkbox>
    </div>

    <div class="setting-row">
      <span class="setting-label">Архив историй</span>
      <button mat-fab class="following-button" aria-label="Open following dialog" (click)="openArchiveStory()">
        <mat-icon>books_movies_and_music</mat-icon>
      </button>
    </div>
  </div>
</div>
