<mat-toolbar color="primary" class="toolbar">
  <!-- Левая часть: лого и переключатель темы -->
  <div class="toolbar-section left">
    <span class="logo" routerLink="/main">InstaKing</span>
    <label class="theme-switch-icon">
      <input
        type="checkbox"
        [checked]="isDarkTheme()"
        (change)="toggleTheme()"/>
      <span class="slider">
        <span class="icon sun">☀️</span>
        <span class="icon moon">🌙</span>
      </span>
    </label>
  </div>

  <div class="toolbar-section center">
    <div class="search-container">
      <mat-form-field class="search-field"  appearance="fill">
        <mat-icon matPrefix>search</mat-icon>
        <input class="search-input"
               color="red"
               matInput
          [(ngModel)]="query"
          (input)="searchUsers()"
          placeholder="Поиск"
          autocomplete="off">
        <button mat-icon-button matSuffix >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <!-- Правая часть: имя пользователя и аватар -->
  <div class="toolbar-section right">
    <ng-container *ngIf="!router.url.startsWith('/profile')">
      <h3 *ngIf="isDataLoaded" class="username">{{ user?.username }}</h3>
      <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button class="avatar-button">
        <img [src]="previewUrl || userProfileImage || 'assets/placeholder.jpg'"
             alt="avatar"
             width="40"
             height="40"
             class="avatar-icon">
      </button>
    </ng-container>

    <mat-menu #menu="matMenu" class="my-custom-menu">
      <button mat-menu-item class="my-custom-menu-item" [routerLink]="['/profile/', user?.username]">Profile</button>
      <button mat-menu-item class="my-custom-menu-item" (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
