<mat-toolbar color="primary">
  <!-- Кнопка перехода на главную всегда видна -->
  <span routerLink="/main" >InstaKing</span>

  <label class="theme-switch-icon">
    <input
      type="checkbox"
      [checked]="isDarkTheme()"
      (change)="toggleTheme()" />
    <span class="slider">
    <span class="icon sun">☀️</span>
    <span class="icon moon">🌙</span>
  </span>
  </label>


  <!-- Всё остальное скрывается на /profile -->
  <ng-container *ngIf="!router.url.startsWith('/profile')">
    <span class="spacer"></span>


    @if (isDataLoaded) {
      <h3>{{ user?.username }}</h3>
    }


    @if (isLoggedIn) {
      <button [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button class="avatar-button">
        <img [src]="previewUrl || userProfileImage || 'assets/placeholder.jpg'"
             alt="avatar"
             width="40"
             height="40"
             class="avatar-icon">
      </button>
    }

    <mat-menu #menu="matMenu" class="my-custom-menu">
      <button mat-menu-item class="my-custom-menu-item" [routerLink]="['/profile/', user?.username]">Profile</button>
      <button mat-menu-item class="my-custom-menu-item" (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
