<div class="feed" *ngIf="isUserPostsLoaded">

  <mat-card class="ig-post" *ngFor="let post of posts; let i = index">
    <!-- Фото -->
    <img class="ig-photo"
         [src]="post.image"
         alt="photo"
         (click)="openPostDetails(i)" style="cursor: pointer;"/>
  </mat-card>
  <!-- Модальное окно поста на весь экран -->
  <div class="fullscreen-modal" *ngIf="openedPostIndex !== null" (click)="closePostDetails()">

    <div class="fullscreen-content" (click)="$event.stopPropagation()">
      <!-- Кнопка закрыть -->
      <button class="close-modal-btn" mat-icon-button type="button"
              aria-label="Закрыть"
              (click)="closePostDetails()">
        <mat-icon>close</mat-icon>
      </button>

      <div class="modal-img-block">
        <img class="modal-photo"
             [src]="posts[openedPostIndex!].image"
             alt="photo"/>
      </div>
      <div class="info-block">
        <div class="ig-modal-author" >
          <a [routerLink]="['/profile', posts[openedPostIndex!].username]" class="profile-link">
            <img [src]="getUserImage(posts[openedPostIndex!].username!)" alt="avatar" class="ig-modal-avatar">
            <span class="fw-bold">{{ posts[openedPostIndex!].username }}</span>
          </a>
        </div>
        <!-- ... -->
        <div class="comments-scrollable-block">
          @if (posts[openedPostIndex!]?.comments?.length) {
            <div style="text-align:left">
              <!-- Кнопка "Показать все" если комментов больше MAX_VISIBLE_COMMENTS -->

              <!-- Список комментариев -->
              <ng-container *ngIf="posts[openedPostIndex!].showAllComments; else lastComments">
                @for (comment of posts[openedPostIndex!].comments; track comment.id) {
                  <p>
                    <a [routerLink]="['/profile', comment.username]" class="profile-link"
                       (click)="closePostDetails()">
                      <img *ngIf="comment.username"
                           [src]="getUserImage(comment.username!)"
                           alt="avatar" class="ig-modal-avatar">
                      <span class="fw-bold">{{ comment.username }}</span>
                    </a>
                  </p>
                }
              </ng-container>
              <ng-container *ngIf="posts[openedPostIndex!].comments!.length > MAX_VISIBLE_COMMENTS">
                <button mat-button type="button"
                        (click)="toggleShowAllComments(openedPostIndex!)"
                        style="padding:0 0 8px 0;text-transform:none;color:#888;font-size:13px;">
                  @if (!posts[openedPostIndex!].showAllComments) {
                    Показать все комментарии ({{ posts[openedPostIndex!].comments!.length }})
                  } @else {
                    Скрыть комментарии
                  }
                </button>
              </ng-container>
              <ng-template #lastComments>
                @for (comment of posts[openedPostIndex!].comments!.slice(-MAX_VISIBLE_COMMENTS); track comment.id) {
                  <p>
                    <a [routerLink]="['/profile', comment.username]" class="profile-link"
                       (click)="closePostDetails()">
                      <img *ngIf="comment.username"
                           [src]="getUserImage(comment.username!)"
                           alt="avatar" class="ig-modal-avatar">
                      <span class="fw-bold">{{ comment.username }}</span>: {{ comment.message }}
                    </a>
                  </p>
                }
              </ng-template>
            </div>
          }
        </div>
        <div class="modal-info-block">
          <section class="actions">
            <div class="actions-horizontal">
              <button mat-icon-button (click)="likePost(posts[openedPostIndex!].id!, openedPostIndex!)">
                <mat-icon [ngClass]="{ liked: posts[openedPostIndex!].isLiked }">favorite</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>chat_bubble_outline</mat-icon>
              </button>
            </div>
            <button mat-icon-button>
              <mat-icon>bookmark_border</mat-icon>
            </button>
          </section>
          <section class="likes" *ngIf="posts[openedPostIndex].usersLiked && posts[openedPostIndex].usersLiked!.length > 0">
            <img
              [src]="getUserImage(posts[openedPostIndex].usersLiked![0])"
              alt="avatar" class="ig-modal-avatar">
            <span>{{ posts[openedPostIndex!].usersLiked![0] }}
              like{{ posts[openedPostIndex!].likes === 1 ? '' : 's' }}</span>
          </section>

          <form class="add-comment-form d-flex align-items-center" (submit)="postComment($event, commentInput.value, posts[openedPostIndex].id!, openedPostIndex)">
            <input #commentInput
                   matInput
                   class="form-control flex-grow-1"
                   placeholder="Комментарий..." required>
            <button mat-icon-button type="submit" class="send-btn ms-2" aria-label="Отправить комментарий">
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </div>

        <time class="timestamp">{{ posts[openedPostIndex!].createdAt | date:'mediumDate' }}</time>
      </div>


    </div>
  </div>
</div>

