/* Главный контейнер страницы Direct */
.direct-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-bg); /* Убедись, что фон задан */
}

.sidebar {
  width: 350px;
  min-width: 300px;
  border-right: 1px solid #333;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Правая часть (Чат) */
.chat-main {
  flex: 1;            /* Занимает все оставшееся место */
  display: flex;
  flex-direction: column; /* Выстраиваем детей в колонку */
  height: 100%;       /* На всю высоту родителя */
  width: 100%;        /* На всю ширину */
  position: relative;
  overflow: hidden;   /* Скрываем всё, что вылезает за пределы */
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #fff; /* Белый текст для темной темы */
  padding: 20px;
}

.empty-icon-circle {
  width: 96px;
  height: 96px;
  border: 2px solid #262626;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.empty-icon {
  font-size: 50px; /* Размер иконки */
}

h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 25px;
}

.start-btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px; /* Чуть компактнее */
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.start-btn:hover {
  background-color: var(--color-primary);
}

app-chat-window {
  display: block;     /* Или flex */
  width: 100%;
  height: 100%;       /* Занимаем 100% высоты .chat-main */
  overflow: hidden;   /* Чтобы скролл был внутри компонента, а не снаружи */
}
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
    min-width: 60px;
  }
}
