<div class="likes-dialog">
  <div class="likes-dialog-header">
    <span *ngIf="data.followers">Подписчики</span>
    <span *ngIf="!data.followers">Подписки</span>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="likes-dialog-list">
    <ng-container *ngIf="users && users.length > 0; else emptyState">
      <div
        class="like-user-row"
        *ngFor="let user of users; trackBy: trackByUsername"
      >
        <!-- Аватарка (ссылка уже сформирована в TS) -->
        <!-- Добавил фоллбэк на всякий случай -->
        <img class="avatar"
             [src]="user.avatarUrl || 'assets/placeholder.jpg'"
             alt="avatar" />

        <div class="user-info">
          <a
            [routerLink]="['/profile', user.username]"
            (click)="close()"
            class="username"
          >{{ user.username }}</a>

          <div class="fullname" *ngIf="user.firstname">
            {{ user.firstname }} {{ user.lastname }}
          </div>
        </div>

        <!-- Кнопка подписки (только если это не я) -->
        <div *ngIf="user.username !== meUsername">
          <ng-container *ngIf="isFollowingMap[user.username] !== undefined">
            <button
              *ngIf="isFollowingMap[user.username]; else subscribeBtn"
              (click)="unfollow(user.username)"
              class="follow-btn unfollow"
            >
              Отписаться
            </button>

            <ng-template #subscribeBtn>
              <button
                (click)="follow(user.username)"
                class="follow-btn follow"
              >
                Подписаться
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!-- Шаблон, если список пуст -->
    <ng-template #emptyState>
      <div class="empty-list-message">
        Список пуст
      </div>
    </ng-template>

  </div>
</div>
